.card__image {
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: 290px;
}

.home__image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
}

.app__body {
  margin-top: 30vh;
  min-height: 30vh;
}

@media (min-width: 700px) {
  .app__body {
    margin-top: 20vh;
  }
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}

.login__form {
  margin: 20px auto;
  width: 50%;
}

.cards__container {
  margin-top: 20px;
  margin-bottom: 40px;
}

.login__temporal {
  margin: 20px 0;
}
